[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/grafika-dzifors/nvim-config
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/grafika-dzifors/tmux-config
[submodule ".config/kitty"]
	path = .config/kitty
	url = https://github.com/grafika-dzifors/kitty-config
